.pattern-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;

  .pattern-item {
    cursor: pointer;

    &.selected {
      color: rgb(60,210,60); 
    }
  }
}

.pattern-editor {
  background: #ededed;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 800px;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  &.open {
    transform: translateX(0%)
  }
}
